{% extends "basic_generic.html" %}
{% load static from staticfiles %}


{% block content %}
	<div id="content" class="8u skel-cell-important">
		<section>
				<h3 class="byline" style="text-indent:150px">1. Choose the fruit for your home-made marmalade (maximum amount: 3)</h3>
		</section>
	</div>
	<div class="container">
	<form action="" method="post">
	{% csrf_token %}
	<div class="container">
		<div class="row">

			<section class="3u">
				<ul class="default">

					<li><img id="apple" src="{%static 'images/apple.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='5'></input>Apples</label></li>
					<li><img id="blueberries" src="{%static 'images/blueberries1.png' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='2'></input>Blueberries</label></li>
					<li><img id="fig" src="{%static 'images/fig.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='21'></input>Figs</label></li>
					<li><img id="johannisberry" src="{%static 'images/johannis berry.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='15'></input>Johannes berries</label></li>
					<li><img id="mango" src="{%static 'images/mango.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='13'></input>Mangos</label></li>
					<li><img id="passionfruit" src="{%static 'images/passionfruit.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='27'></input>Passionfruit</label></li>
					<li><img id="raspberry" src="{%static 'images/raspberry.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='4'></input>Raspberries</label></li>
				</ul>
			</section>

			<section class="3u">
				<ul class="default">
					<li><img id="apricot" src="{%static 'images/aprikose.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='17'></input>Apricots</label></li>
					<li><img id="cherries" src="{%static 'images/cherries.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='6'></input>Cherries</label></li>
					<li><img id="gooseberries" src="{%static 'images/gooseberries.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='24'></input>Gooseberries</label></li>
					<li><img id="kiwi" src="{%static 'images/kiwi.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='26'></input>Kiwis</label></li>
					<li><img id="nectarine" src="{%static 'images/nectarine.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='8'></input>Nectarines</label></li>
					<li><img id="peach" src="{%static 'images/peach.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='7'></input>Peaches</label></li>
					<li><img id="redcurrent" src="{%static 'images/redcurrant.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='22'></input>Red currents</label></li>
				</ul>
			</section>

			<section class="3u">
				<ul class="default">
					<li><img id="bananas" src="{%static 'images/bananas.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='1'></input>Bananas</label></li>
					<li><img id="cranberry" src="{%static 'images/cranberry.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='23'></input>Cranberries</label></li>
					<li><img id="grapefruit" src="{%static 'images/grapefruit.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='11'></input>Grapefruit</label></li>
					<li><img id="lemon" src="{%static 'images/lemon.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='10'></input>Lemons</label></li>
					<li><img id="oranges" src="{%static 'images/oranges.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='9'></input>Oranges</label></li>
					<li><img id="pears" src="{%static 'images/pears.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='16'></input>Pears</label></li>
					<li><img id="rhubarb" src="{%static 'images/rhubarb.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='28'></input>Rhubarb</label></li>
				</ul>
			</section>

			<section class="3u">
				<ul class="default">
					<li><img id="blackberries" src="{%static 'images/blackberries.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='14'></input>Blackberries</label></li>
					<li><img id="date" src="{%static 'images/date.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='19'></input>Dates</label></li>
					<li><img id="grapes" src="{%static 'images/grapes_0.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='25'></input>Grapes</label></li>
					<li><img id="lime" src="{%static 'images/lime.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='12'></input>Limes</label></li>
					<li><img id="papaya" src="{%static 'images/papaya.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='20'></input>Papayas</label></li>
					<li><img id="plums" src="{%static 'images/plums.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='18'></input>Plums</label></li>
					<li><img id="strawberries" src="{%static 'images/strawberries.jpg' %}" class="fruits" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='3'></input>Strawberries</label></li>
				</ul>
			</section>
		</div>

	</div>
	<div id="content" class="8u skel-cell-important">
		<section>
				<h3 style="text-indent:0px";>2. Choose the spices for your home-made marmalade</h3>
		</section>
	</div>
	<div class="container">
		<div class="row">
			<section class="3u">
				<ul class="default">
					<li><img id="agavenectar" src="{%static 'images/spices/agave nectar.jpg' %}" class="spices" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='42'></input>Agave nectar</label></li>
					<li><img id="cinnamon" src="{%static 'images/spices/cinnamon.jpg' %}" class="spices" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='43'></input>Cinnamon</label></li>
					<li><img id="garlic" src="{%static 'images/spices/garlic.jpg' %}" class="spices" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='45'></input>Garlic</label></li>
					<li><img id="chiliflakes" src="{%static 'images/spices/chili flakes.jpg' %}" class="spices" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='48'></input>Chili flakes</label></li>
				</ul>
			</section>
			<section class="3u">
				<ul class="default">
					<li><img id="aniseed" src="{%static 'images/spices/aniseed.jpg' %}" class="spices" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='37'></input>Aniseed</label></li>
					<li><img id="cloves" src="{%static 'images/spices/cloves.jpg' %}" class="spices" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='44'></input>Cloves</label></li>
					<li><img id="ginger" src="{%static 'images/spices/ginger.jpg' %}" class="spices" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='39'></input>Ginger</label></li>
					<li><img id="mint" src="{%static 'images/spices/mint.jpg' %}" class="spices" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='35'></input>Mint</label></li>
				</ul>
			</section>
			<section class="3u">
				<ul class="default">
					<li><img id="basil" src="{%static 'images/spices/basil.jpg' %}" class="spices" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='38'></input>Basil</label></li>
					<li><img id="cocoa" src="{%static 'images/spices/cocoa.jpg' %}" class="spices" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='46'></input>Cocoa</label></li>
					<li><img id="honey" src="{%static 'images/spices/honey.jpg' %}" class="spices" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='40'></input>Honey</label></li>
					<li><img id="rosemary" src="{%static 'images/spices/rosemary.jpg' %}" class="spices" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='49'></input>Rosemary</label></li>
				</ul>
			</section>
			<section class="3u">
				<ul class="default">
					<li><img id="pepper" src="{%static 'images/spices/pepper.jpg' %}" class="spices" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='36'></input>Pepper</label></li>
					<li><img id="coconut flakes" src="{%static 'images/spices/coconut flakes.jpg' %}" class="spices" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='47'></input>Coconut flakes</label></li>
					<li><img id="lemon zest" src="{%static 'images/spices/lemon zest.jpg' %}" class="spices" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='41'></input>Lemon zest</label></li>
					<li><img id="vanilla" src="{%static 'images/spices/vanilla.jpg' %}" class="spices" >
						<label for="decision"><input name="decision" type="checkbox" id ="decision" value='50'></input>Vanilla</label></li>

				</ul>
			</section>

		</div>
	</div>
	<section>
			<h3>Click to receive your own marmalade recipe</h3>
	</section>
	<input type="submit" name="button" value='Submit'></input>
	</form>
	</div>
	<div id="content" class="8u skel-cell-important">
	</div>
</div>
{% endblock %}
