{% extends "basic_generic.html" %}
{% load static from staticfiles %}


{% block content %}
	<div id="content" class="8u skel-cell-important">
		<section>
			<header class="major">
				<h3 style="text-indent:150px">1. Choose the fruit for your home-made marmalade</h3>
			</header>
		</section>
	</div>
				<!--<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span> -->

	<div class="container">
		<div class="row">

			<section class="3u">
				<ul class="default">
					<li><img id="apple" src="{%static 'images/apple.jpg' %" class="fruits" >
						<label for="id_chkboxApple"><input name="apple" type="checkbox" id ="id_chkboxApple"></input>Apple</label></li>
					<li><img id="blueberries" src="{%static 'images/blueberries1.png' %" class="fruits" >
						<label for="id_chkboxBlueB"><input name="blueberries" type="checkbox" id ="id_chkboxBlueB"></input>Blueberries</label></li>
					<li><img id="fig" src="{%static 'images/fig.jpg' %" class="fruits" >
						<label for="id_chkboxFig"><input name="fig" type="checkbox" id ="id_chkboxFig"></input>Fig</label></li>
					<li><img id="johannisberry" src="{%static 'images/johannisberry.jpg' %" class="fruits" >
						<label for="id_chkboxJberry"><input name="johannisberry" type="checkbox" id ="id_chkboxJberry"></input>Johannisberry</label></li>
					<li><img id="mango" src="{%static 'images/mango.jpg' %" class="fruits" >
						<label for="id_chkboxMango"><input name="mango" type="checkbox" id ="id_chkboxMango"></input>Mango</label></li>
					<li><img id="passionfruit" src="{%static 'images/passionfruit.jpg' %" class="fruits" >
						<label for="id_chkboxPassionfruit"><input name="passionfruit" type="checkbox" id ="id_chkboxPassionfruit"></input>Passionfruit</label></li>
					<li><img id="raspberry" src="{%static 'images/raspberry.jpg' %" class="fruits" >
						<label for="id_chkboxRaspb"><input name="raspberry" type="checkbox" id ="id_chkboxRaspb"></input>Raspberry</label></li>
				</ul>
			</section>

			<section class="3u">
				<ul class="default">
					<li><img id="aprikose" src="{%static 'images/aprikose.jpg' %" class="fruits" >
						<label for="id_chkboxAprik"><input name="aprikose" type="checkbox" id ="id_chkboxAprik"></input>Aprikose</label></li>
					<li><img id="cherries" src="{%static 'images/cherries.jpg' %" class="fruits" >
						<label for="id_chkboxCherry"><input name="cherry" type="checkbox" id ="id_chkboxCherry"></input>Cherry</label></li>
					<li><img id="gooseberries" src="{%static 'images/gooseberries.jpg' %" class="fruits" >
						<label for="id_chkboxGooseB"><input name="gooseberries" type="checkbox" id ="id_chkboxGooseB"></input>Gooseberry</label></li>
					<li><img id="kiwi" src="{%static 'images/kiwi.jpg' %" class="fruits" >
						<label for="id_chkboxKiwi"><input name="kiwi" type="checkbox" id ="id_chkboxKiwi"></input>Kiwi</label></li>
					<li><img id="nectarine" src="{%static 'images/nectarine.jpg' %" class="fruits" >
						<label for="id_chkboxNectarine"><input name="nectarine" type="checkbox" id ="id_chkboxNectarine"></input>Nectarine</label></li>
					<li><img id="peach" src="{%static 'images/peach.jpg' %" class="fruits" >
						<label for="id_chkboxPeach"><input name="peach" type="checkbox" id ="id_chkboxPeach"></input>Peach</label></li>
					<li><img id="redcurrant" src="{%static 'images/redcurrant.jpg' %" class="fruits" >
						<label for="id_chkboxRedc"><input name="redcurrant" type="checkbox" id ="id_chkboxRedc"></input>Redcurrant</label></li>
				</ul>
			</section>

			<section class="3u">
				<ul class="default">
					<li><img id="bananas" src="{%static 'images/bananas.jpg' %" class="fruits" >
						<label for="id_chkboxBanana"><input name="banana" type="checkbox" id ="id_chkboxBanana"></input>Banana</label></li>
					<li><img id="cranberry" src="{%static 'images/cranberry.jpg' %" class="fruits" >
						<label for="id_chkboxCranb"><input name="cranberry" type="checkbox" id ="id_chkboxCranb"></input>Cranberry</label></li>
					<li><img id="grapefruit" src="{%static 'images/grapefruit.jpg' %" class="fruits" >
						<label for="id_chkboxGrapefruit"><input name="grapefruit" type="checkbox" id ="id_chkboxGrapefruit"></input>Grapefruit</label></li>
					<li><img id="lemon" src="{%static 'images/lemon.jpg' %" class="fruits" >
						<label for="id_chkboxLemon"><input name="lemon" type="checkbox" id ="id_chkboxLemon"></input>Lemon</label></li>
					<li><img id="oranges" src="{%static 'images/oranges.jpg' %" class="fruits" >
						<label for="id_chkboxOrange"><input name="orange" type="checkbox" id ="id_chkboxOrange"></input>Oranges</label></li>
					<li><img id="pears" src="{%static 'images/pears.jpg' %" class="fruits" >
						<label for="id_chkboxPears"><input name="pears" type="checkbox" id ="id_chkboxPears"></input>Pears</label></li>
					<li><img id="rhubarb" src="{%static 'images/rhubarb.jpg' %" class="fruits" >
						<label for="id_chkboxRhub"><input name="rhubarb" type="checkbox" id ="id_chkboxRhub"></input>Rhubarb</label></li>
				</ul>
			</section>

			<section class="3u">
				<ul class="default">
					<li><img id="blackberries" src="{%static 'images/blackberries.jpg' %" class="fruits" >
						<label for="id_chkboxBlackB"><input name="blackberry" type="checkbox" id ="id_chkboxBlackB"></input>Blackberries</label></li>
					<li><img id="date" src="{%static 'images/date.jpg' %" class="fruits" >
						<label for="id_chkboxDate"><input name="date" type="checkbox" id ="id_chkboxDate"></input>Date</label></li>
					<li><img id="grapes" src="{%static 'images/grapes_0.jpg' %" class="fruits" >
						<label for="id_chkboxGrapes"><input name="grapes" type="checkbox" id ="id_chkboxGrapes"></input>Grapes</label></li>
					<li><img id="lime" src="{%static 'images/lime.jpg' %" class="fruits" >
						<label for="id_chkboxLime"><input name="lime" type="checkbox" id ="id_chkboxLime"></input>Lime</label></li>
					<li><img id="papaya" src="{%static 'images/papaya.jpg' %" class="fruits" >
						<label for="id_chkboxPapaya"><input name="papaya" type="checkbox" id ="id_chkboxPapaya"></input>Papaya</label></li>
					<li><img id="plums" src="{%static 'images/plums.jpg' %" class="fruits" >
						<label for="id_chkboxPlums"><input name="plum" type="checkbox" id ="id_chkboxPlums"></input>Plum</label></li>
					<li><img id="strawberries" src="{%static 'images/strawberries.jpg' %" class="fruits" >
						<label for="id_chkboxStrawb"><input name="strawberries" type="checkbox" id ="id_chkboxStrawb"></input>Strawberry</label></li>
				</ul>
			</section>
		</div>

	</div>
	<div id="content" class="8u skel-cell-important">
		<section>
			<header class="major">
				<h3 style="text-indent:150px";>2. Choose the spices for your home-made marmalade</h3>
			</header>
		</section>
	</div>
	<div class="container">
		<div class="row">
			<section class="3u">
				<ul class="default">
					<li><img id="agavenectar" src="{%static 'images/spices/agave nectar.jpg' %" class="spices" >
						<label for="id_chkboAgaveN"><input name="agavenectar" type="checkbox" id ="id_chkboxAgaveN"></input>Agave nectar</label></li>
					<li><img id="cinnamon" src="{%static 'images/spices/cinnamon.jpg' %" class="spices" >
						<label for="id_chkboxCinnamon"><input name="cinnamon" type="checkbox" id ="id_chkboxCinnamon"></input>Cinnamon</label></li>
					<li><img id="garlic" src="{%static 'images/spices/garlic.jpg' %" class="spices" >
						<label for="id_chkboxGarlic"><input name="garlic" type="checkbox" id ="id_chkboxGarlic"></input>Garlic</label></li>
					<li><img id="chiliflakes" src="{%static 'images/spices/chili flakes.jpg' %" class="spices" >
						<label for="id_chkboxChilif"><input name="chiliflakes" type="checkbox" id ="id_chkboxChilif"></input>Chili flakes</label></li>
				</ul>
			</section>
			<section class="3u">
				<ul class="default">
					<li><img id="aniseed" src="{%static 'images/spices/aniseed.jpg' %" class="spices" >
						<label for="id_chkboxAniseeed"><input name="aniseed" type="checkbox" id ="id_chkboxAniseed"></input>Aniseed</label></li>
					<li><img id="cloves" src="{%static 'images/spices/cloves.jpg' %" class="spices" >
						<label for="id_chkboxCloves"><input name="cloves" type="checkbox" id ="id_chkboxCloves"></input>Cloves</label></li>
					<li><img id="ginger" src="{%static 'images/spices/ginger.jpg' %" class="spices" >
						<label for="id_chkboxGinger"><input name="ginger" type="checkbox" id ="id_chkboxGinger"></input>Ginger</label></li>
					<li><img id="mint" src="{%static 'images/spices/mint.jpg' %" class="spices" >
						<label for="id_chkboxMint"><input name="mint" type="checkbox" id ="id_chkboxMint"></input>Mint</label></li>
				</ul>
			</section>
			<section class="3u">
				<ul class="default">
					<li><img id="basil" src="{%static 'images/spices/basil.jpg' %" class="spices" >
						<label for="id_chkboxBasil"><input name="basil" type="checkbox" id ="id_chkboxBasil"></input>Basil</label></li>
					<li><img id="cocoa" src="{%static 'images/spices/cocoa.jpg' %" class="spices" >
						<label for="id_chkboxCocoa"><input name="cocoa" type="checkbox" id ="id_chkboxCocoa"></input>Cocoa</label></li>
					<li><img id="honey" src="{%static 'images/spices/honey.jpg' %" class="spices" >
						<label for="id_chkboxHoney"><input name="honey" type="checkbox" id ="id_chkboxHoney"></input>Honey</label></li>
					<li><img id="rosemary" src="{%static 'images/spices/rosemary.jpg' %" class="spices" >
						<label for="id_chkboxRosemary"><input name="rosemary" type="checkbox" id ="id_chkboxRosemary"></input>Rosemary</label></li>
				</ul>
			</section>
			<section class="3u">
				<ul class="default">
					<li><img id="chili flakes" src="{%static 'images/spices/chili flakes.jpg' %" class="spices" ></li>
						<label for="id_chkboxStrawb"><input name="strawberries" type="checkbox" id ="id_chkboxStrawb"></input>Strawberry</label></li>
					<li><img id="coconut flakes" src="{%static 'images/spices/coconut flakes.jpg' %" class="spices" ></li>
					<li><img id="lemon zest" src="{%static 'images/spices/lemon zest.jpg' %" class="spices" ></li>
					<li><img id="vanilla" src="{%static 'images/spices/vanilla.jpg' %" class="spices" ></li>
				</ul>
			</section>
		</div>
	</div>
	<div id="content" class="8u skel-cell-important">
		<section>
			<header class="major">
				<h3 style="text-indent:150px">This is your fruit basket</h3>
			</header>
		</section>
	</div>
</div>
{% endblock %}
