{% extends "basic_generic.html" %}
{% load static from staticfiles %}


{% block content %}
							<div class="container">
								<div class="row">

									<!-- Sidebar -->
									<div id="sidebar" class="4u sidebar">
										<section>
												<h3>Developed & operated by:</h3>
											<div class="row half">
												<section>
													<ul class="default">
														<li>Antonia Böhm</li>
														<li>Jördis Fritzsche</li>
														<li>Rebekka Günther</li>
														<li>Danielle McKenney</li>
														<li>Isabelle Meichsner</li>
														<li>Jessica Rother</li>
													</ul>
												</section>
											</div>
										</section>
									</div>

									<!-- Content -->
									<div id="content" class="8u skel-cell-important">
										<section>
												<h2>Disclaimer</h2>
											<h3>Legal information</h3>
											<p>The contents of these pages were prepared with utmost care. Nonetheless, we cannot assume liability for the timeless accuracy and completeness of the information.</p>
											<p> Our website contains links to external websites. As the contents of these third-party websites are beyond our control, we cannot accept liability for them. Responsibility for the contents of the linked pages is always held by the provider or operator of the pages.</p>
											<h3>Data protection</h3>
											<p> In general, when visiting this website, no personal data are saved. However, these data can be given on a voluntary basis. No data will be passed on to third parties without your consent. We point out that in regard to unsecured data transmission in the internet (e.g. via email), security cannot be guaranteed. Such data could possibIy be accessed by third parties.</p>
											<h3>Website terms</h3>
											<p>The terms below govern your use of this website and by accessing this website you agree to be bound by them. If you do not accept these terms, please do not use the website.We may change these terms at any time without notice by updating the terms shown on this website. It is your responsibility to review the website terms each time you enter the website to ensure you are aware of our latest terms and conditions. Your use of this website after a change has been made signifies your acceptance of the revised terms.</p>
										</section>
									</div>
								</div>
							</div>
			</div>
<div class="container">
	<div class="row">
{% endblock %}
